body {
      margin: 0;
      font-family: Poppins;
      max-width: 100%;
      overflow: hidden;
     }

    body::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-size: cover; 
        background-position: center; 
        opacity: 0.3; 
        z-index: -999; 
     }
.fullscreen {
  /*background-color: #212121;*/
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
 }


.bgcr p{
  font-size: 11px ;
  font-weight: 600;
  width: auto;
  height: max-content;
  text-align: center;
  color:#fff;
  z-index: 655;
 } 

.bgcr {
  margin-top: 0%;
  background-color: #00509D;
  height: max-content;
  width: max-content;
  padding: 0% 2% ;
  border-radius: 100px;
  margin-bottom: 2%;
  z-index: 655;
 } 

.header{
  background: #00509D;
  top: -25px;
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;

}
.content {
    display: flex;   
    top: 30px;
    left: 20px;
    right: 20px; 
    }

.content img{
    margin-top: 30px;
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
    }

.content p2 {
    color: #ffffff;
    margin-top: 36px;
    font-size: 20px;
    line-height: 1.4;
    }

.menufs {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
 }    

.menu {

  margin: -2% 0%;
  width: 15%;
  background-color: rgb(85, 85, 85, 80%) ;
  height:  100vh;
  overflow: hidden;  
  padding: 0px;

 } 

.isimenu {
  background-color: rgb(85, 85, 85, 0);
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: start;
 }

.isimenu.active {
  background-color: rgb(85, 85, 85, 0);
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: start;
 } 

.menu p {
  color: white ;
  font-size: 15px;
  font-weight: 500;
  margin: 15px 0px;
 } 